.RaceControl {
	width: 30%;
	overflow-y: auto;
	position: relative;
    background-color: #00000031;
}

.RaceControl__header {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
    font-family: "Bebas Neue", sans-serif;
	font-size: 1.2rem;
	letter-spacing: .2rem;
	background-color: #474447;
	height: 10%;
}

.RaceControl__header span {
	height: 60%;
	display: grid;
	place-items: center;
	padding: 10px;
    border-left: 1px solid #00000028;

}

.RaceControl__logContainer {
	height: 90%;
}