* {
  margin: 0;
  padding: 0;
} 

.pitStop {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
	display: flex;
  background-size: cover;
  background-image: radial-gradient( circle farthest-corner at 3.2% 49.6%,  rgba(80,12,139,0.87) 0%, rgba(161,10,144,0.72) 83.6% );
  color: white;
}

.pitStop__sideBar {
	flex-basis: 20%;
  background-color: #00000031;
}

.pitStop__title {
  font-family: "Racing Sans One", sans-serif;
  font-size: 4rem;
  text-align: center;
  margin: 15px;
  letter-spacing: 0.05em;
  color: #fff;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #00000013;
}

*::-webkit-scrollbar-track {
  border-radius: 3px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #0000008c;
}

