.Nav {
	height: 100%;
} 

.Nav__title {
	text-align: center;
    font-family: "Bebas Neue", sans-serif;
	font-size: 2rem;
	letter-spacing: 0.30rem;
}

.Nav__seasons {
	position: relative;
	height: 54%;
	overflow-y: auto;
}

