.Nav {
	height: 100%;
} 

.Nav__title {
	text-align: center;
    font-family: "Bebas Neue", sans-serif;
	font-size: 2rem;
	letter-spacing: 0.30rem;
}

.Nav__seasons {
	position: relative;
	height: 54%;
	overflow-y: auto;
}

.Nav__seasons::-webkit-scrollbar {
  width: 5px;
  background-color: #00000013;
}

.Nav__seasons::-webkit-scrollbar-track {
  border-radius: 3px;
}

.Nav__seasons::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #0000008c;
}
